@import './typewriter'
@import './rotate'
@import './about'
@import './contact'
@import './portfolio'
@import './menu'

html 
    overflow-x: hidden
body 
    margin-left: auto
    margin-right: auto
    //padding-top: 160px 
    width: 100% 
    height: 100vh   
    position: relative 
    box-sizing: border-box
   
h1, h2 
  text-align: center
  padding-bottom: 25px
  font-weight: bolder
nav
    font-size: 24px
#app
  width: 100%
.nav-link
    text-align: center
.footer
  padding-bottom: 40px
  font-size: 24px
  z-index: 12443

.about
  padding-top: 300px
.viewcontainer 
    position: relative 
    width: 100% 
    //margin-top: 100px   
    min-height: 80vh 
    //z-index: -2222  
    margin-left: auto
    margin-right: auto
    >div
      padding-top: 100px    
    
.nopadding
  padding: 0px 0px 0px 0px

#rendererFather
  //overflow: visible
  padding: 0px 0px 0px 0px
  width: 100%  
#rendererFather canvas 
  margin: 0px 0px 0px 0px
  position: absolute
  top: 0px
  z-index: -23322
  width: 100%
  height: 100% 
