.typewriter h4
    overflow: hidden
    float: left
    border-right: 0.15em solid black
    white-space: nowrap    
    margin: 0 auto
    //letter-spacing: 0.15em
    animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite   
@keyframes typing
    0% 
        width: 0 
    100%
        width: 100% 

@keyframes blink-caret
    0%
        border-color: transparent
    50% 
        border-color: black